header#masthead
	#site-title
		h1
			a(href="/") Don Pollack
	#banner
nav#main-navigation
	ul
		li
			a(href="/painting/" id="painting") Painting
		li
			a(href="/museum/" id="museum") Museum In Trust
		li
			a(href="/crossing/" id="crossing") Crossing The Great Divide
		li
			a(href="/contact" id="contact") Contact
		li
			a(href="http://donpollack.blogspot.com/" id="blog") Blog
		li
			a(href="/vita" id="vita") Vita
