doctype
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="main.css")
	body
		!= partial("partials/_header")
		section#main
			aside#left
				p Taking Measure
			section#home
				!= yield
		script(src="site.js")
