doctype
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="main.css")
	- var site = { baseURL: '/' };
	body
		header#masthead
			#site-title
				h1 
					a(href='#{site.baseURL}') Don Pollack
			#banner
		nav#main-navigation
			ul
				li 
					a(href='#{site.baseURL}painting') Painting
				li
					a(href='#') Museum In Trust
				li
					a(href='#') Crossing The Great Divide
				li
					a(href='#') Contact
				li
					a(href='#') Blog
				li
					a(href='#') Vita
		section#main
			aside#left
				p Taking Measure
			section#home
				!= yield
