// COLOR

@text-color: #515151;
@line-color: #b3b3b3;
@highlight-color: #b3b3b3;
@selected-color: black;

// TYPOGRAPHY

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/AGaramondPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Bold';
    src: url('../fonts/AGaramondPro-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@serif-font: "Garamond", "Times New Roman", Times, serif;
@serif-font-bold: "Garamond Bold", "Times New Roman", Times, serif;
@sans-serif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
