doctype
html(class="#{ current.path[0] == 'projects' ? current.source : '' }")
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="/css/main.css")
	body
		!= partial("partials/_masthead")
		!= partial("partials/_nav")
		section#main
			aside#left
				p= tagline				
				each number in [ '2034.0', '2033.0', '2032.0', '2031.0', '2030.0' ]
					.number= number
			!= yield
