.project
	figure.featured-image
		img(src="images/washington_project.png" width="100%")
	!= partial("projects/34-days-to-washington")
	a(href="#" class="project-link")
		h5= excerptlink
.project
	figure.featured-image
		img(src="images/far_project.jpg" width="100%")
	!= partial("projects/far-from-home")
	a(href="#" class="project-link")
		h5= excerptlink
.project
	figure.featured-image
		img(src="images/mysterious_project.png")
	!= partial("projects/mysterious-island")
	a(href="#" class="project-link")
		h5= excerptlink
.project
	figure.featured-image
		img(src="images/night_project.png")
	!= partial("projects/night")
	a(href="#" class="project-link")
		h5= excerptlink
