h2 Far From Home
h3 Marcia Wood Gallery, Atlanta<br>June 2-July 2, 2011
h3 Newzones Gallery, Calgary, Canada<br>December 1, 2011
p For me, the thing that really defines the new world is a mythic journey; as well as the movement west and into the landscape. So I decided to take one of those epic journeys myself.
p Rather than venture off in some arbitrary direction, I chose to journey east. That path was and is a defining route for people aspiring to positions of power, but for me the interesting thing was that it opposed the notion of 'moving westward'. Here I began, with an open mind in search of a wilderness landscape, even though the east might have seemed over-trampled with crowded cities and urban congestion. I prepared by packing Thoreau's "Backwoods and Along the Seashore", and to make the passage more intriguing, I decided to travel via bicycle for what would be over 2000 miles.. 
