h2 Night
h3 Marcia Wood Gallery, Atlanta<br>April 26 - June 2, 2007
p Gazing out into the night, I find it compelling the way trees, buildings and telephone poles become un-ordinary objects in a new mysterious space. Sometimes, the horizon disappears and the boundary between Earth and sky evaporates. Sometimes, it is both night and day. "Vesper" (the evening star, especially Venus ), marks the time of transition, where the spiritual feels near and ordinary objects are viewed against the infinite. 
